@charset "utf-8";

body {
  background-color: #eeeeee; /* サイト全体の背景をグレーにする */
}
.wrapper {
  /* サービスセクション全体に効いている*/
  max-width: 960px;
  margin: 0 auto; /* サービスセクション全体に効いている、左右中央寄せ*/
  padding: 0 4%; /*横方向max960pxに対してなのでmarginではなくpaddingという理解*/
  text-align: center; /*ここをleftにして、section-titleのみcenter指定が結果としてシンプルかも？*/
}

.section-title {
  margin: 60px; /* 左右のmarginは.wrapperでセンター揃え指定済みだからいらない*/
  color: #398072; /* 文字色をグリーンに */
}

.wrapper ul {
  /* section idに効かせるときは#でclassは.（たぶん）*/
  display: flex; /* 横並び*/
  justify-content: space-between; /* flex box内の要素を横並びにする*/
}

.wrapper li {
  width: 32%; /* 3要素で96%、のこり4%がpadding (.wrapperで指定済み) */
  background-color: #ffffff; /* 背景を白にする */
}

.content-title {
  text-align: left; /* .wrapperでleft指定するのもありだったかも */
  margin: 10px; /* 余白。たぶんcontent-textとmarginの相殺が起きている*/
  color: #398072; /* 文字色をグリーンに */
  border-left: 10px solid #398072; /* 文頭の見出しアイコンライン */
  padding-left: 5px; /* 文字との間隔、文字が基準。ライン基準じゃないから注意 */
}

.content-text {
  text-align: left; /* .wrapperでleft指定するのもありだったかも */
  margin: 10px; /* content-titleとはmarginの相殺が起きて結果10pxのはず */
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 400px) {
  .wrapper ul {
    flex-direction: column; /* 400px以下で縦並び */
  }

  .wrapper li {
    width: 100%; /* 横幅100％まで使う。たぶん.wrapperで指定したpaddingは生きてる*/
    margin-bottom: 20px; /* おなじ.wrapper li同士だとmarginの相殺は起きないっぽいことを確認 */
  }
}
